.goBackBtn {
  border-radius: 4px;
  border: transparent;

  cursor: pointer;
  padding: 10px;
  color: rgb(51, 0, 255);
}
.goBackBtn:hover,
.goBackBtn:focus {
  background-color: rgb(13, 0, 255);
  color: white;
}

.goBackBtnIcon {
  fill: rgb(13, 0, 255);
}
