.castContainer {
  margin-top: 30px;
}

.castList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  gap: 15px;
}

.castItem {
  width: 100px;
  height: 100%;
}
.castImage {
  object-fit: cover;
}
