.reviewsContainer {
  margin-top: 30px;
}
.reviewsAuthor {
  font-size: 20px;
  font-weight: 600;
}

.reviewsContent {
  margin-top: 20px;
  font-size: 18px;
}

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
